/*FOR LARGE DEVICES*/
.Hero__hero-img {
  position: absolute;
  top: 190px;
  right: 0px;
  z-index: 0;
  width:900px;
}
#Hero__desktop {
  display: block;
}
#Hero__mobile {
  display: none;
}
.Hero__hero-row {
  margin-left: 100px;
  margin-top: 146px;
}
.row {
  margin-right: 0;
}
.Hero__pre-title {
  font-size: 18px;
  color: #2145b7;
  line-height: 27px;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
}
.Hero__hero-title {
  margin-top: 8px;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #000000;
  font-family: 'Poppins', sans-serif;
}
.Hero__highlight-cyan {
  border-bottom: 10px solid #83f3d1;
  margin-top: -20px;
  width: 33.5vw;
}
.Hero__highlight-bottom {
  margin-top: -38px;
}
.Hero__hero-content {
  margin-top: 18px;
  font-size: 15px;
  font-weight: 400;
  width:515px;
  color: #656565;
  font-family: 'Poppins', sans-serif;
}
.Hero__cta {
  margin-top: 7px;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: #2145b7;
}
.Hero__cta-icon {
  margin-left: 10px;
  font-weight: 500;
}
.Hero__count {
  margin-top: 19px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px 50px;
  margin-left: 0px;
}
.Hero__card1 {
  width: 110px;
  height: 115px;
  border: none;
  border-radius: 5px;
  text-align: center;
  padding: 24px 15px 24px 15px;
  background-color: #02C39A;
  color: white;
  margin-left:0px;
}
.Hero__card2 {
  width: 110px;
  height: 115px;
  border: 1px solid #2145b7;
  border-radius: 5px;
  text-align: center;
  padding: 24px 15px 24px 15px;
  margin-left: 0px;
  color: #656565;
}
.Hero__grid-container {
  display: inline-flex;
  grid-template-columns: auto auto auto;
  grid-gap: 10px 51px;
}
.Hero__grid-container > div {
  text-align: center;
}
.Hero__item2, .Hero__item3 {
  grid-row-start: 1;
  grid-row-end: 10;
}
.Hero__item2 {
  grid-column-start: 1;
  grid-column-end: 9;
  margin-top: 50px;
}
.Hero__item3 {
  grid-column-start: 10;
  grid-column-end: 18;
  margin-top: 50px;
}
.Hero__heading{
  margin-top: 80px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 35px;
  line-height: 15px;
  color: #000000;
  margin-left: 100px;
}
.Hero__paragraph{
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #656565;
  margin-top: 33px;
  width: 470px;
  margin-left: 100px;
}
.Hero__card-title {
  font-size: 24px;
  font-weight: 600;
}
.Hero__card-bold{
  font-weight: 600;
}
.Hero__card-content {
  font-size: 15px;
  line-height: 1rem;
  font-family: 'Poppins', sans-serif;
}
.Hero__header__placement{
  margin-left:50px;
  padding: "0";
  margin-top:"50px";
}

/*FOR VERY SMALL DEVICES MOBILE PHONES*/
/* @media screen and (max-width: 576px) { */
@media screen and (max-width: 600px) {
  .Hero__hero-img {
    position: absolute;
    top: 420px;
    right: 0px;
    z-index: 0;
    height: 375px;
    width: auto;
  }
  #Hero__desktop {
    display: none;
  }
  #Hero__mobile {
    display: block;
  }
  .Hero__item1 {
    grid-row-start: 5;
    grid-row-end: 15;
    grid-column-start: 1;
    grid-column-end: 18;
    background-color: #dde8fd;
  }
  .Hero__item2 , .Hero__item3 {
    grid-row-start: 1;
    grid-row-end: 10;
  }
  .Hero__item2 {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 0px;
  }
  .Hero__item3 {
    grid-column-start: 4;
    grid-column-end: 8;
    margin-top:0px;
  }
  .Hero__hero-row {
    margin-left: 0px;
    margin-top: 79px;
    background-size: 105%;
    background-position-x: -15vw !important;
    background-position-y: 100vw;
  }
  .Hero__pre-title {
    font-size: 16px;
    color: #2145b7;
    margin-left: 23px;
  }
  .Hero__hero-title {
    margin-top: 13px;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: -1px;
    margin-left: 23px;
  }
  .Hero__highlight-cyan {
    border-bottom: 10px solid #83f3d1;
    margin-top: -14px;
    width: 70vw;
  }
  .Hero__highlight-bottom {
    margin-top: -20px;
  }
  .Hero__hero-content {
    margin-top: 13px;
    font-size: 13px;
    width: auto;
    /* width:323px; */
    margin-left: 23px;
  }
  .Hero__cta {
    margin-top: 26px;
    font-size: 13px;
    color: #2145b7;
    font-weight: 500;
    margin-left: 23px;
  }
  .Hero__cta-icon {
    margin-left: 10px;
    font-weight: 500;
  }
  .Hero__count {
    margin-top:365px;
    margin-left: 14px;
  }
  .Hero__card1 {
    width: 75px;
    height: 80px;
    border: none;
    border-radius: 5px;
    text-align: center;
    padding: 19px 11px 8px 11px;
    color: white;
    background-color: #02C39A;
  }
  .Hero__item2 {
    width: 75px;
    height: 80px;
    border: none;
    border-radius: 10px;
    text-align: center;
    padding: 11px 11px 8px 11px;
    color: white;
    background-color: #02C39A;
  }
  .Hero__card2 {
    width: 75px;
    height: 80px;
    border: 1px solid #2145b7;
    border-radius: 5px;
    text-align: center;
    margin-left: 0px !important;
    padding: 19px 11px 8px 11px;
  }
  .Hero__item3 {
    width: 75px;
    height: 80px;
    border: 1px solid #2145b7;
    border-radius: 10px;
    text-align: center;
    margin-left: 0px !important;
    padding: 11px 11px 8px 11px;
  }
  .Hero__grid-container {
  display:inline-flex;
  grid-template-columns:auto auto auto;
  grid-gap: 0px 36px;
}
  .Hero__card-title {
    font-size: 15px;
    font-weight: 900;
  }
  .Hero__card-content {
    font-size: 10px;
    line-height: 0.9rem;
  }
  .Hero__heading{
    margin-top: 27px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size:19px;
    line-height: 15px;
    color: #000000;
    margin-left: 27px;
  }
  .Hero__paragraph{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: #656565;
    margin-top: 13px;
    width: 315px;
    margin-left: 27px;
  }
  .Hero__header__placement{
    margin-left:-20px;
    margin-top:0px;
  }
}

/*For small and medium devices-Tablet*/
/* @media (min-width: 576px) and (max-width: 800px) { */
  @media (min-width: 600px) and (max-width: 800px) {
  #Hero__desktop {
    display: block;
  }
  #Hero__mobile {
    display: none;
  }
  .Hero__hero-img {
    position: absolute;
    top: 310px;
    right: 0px;
    z-index: 0;
    height: 370px;
    width: auto;
  }
  .Hero__heading{
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size:25px;
    line-height: 15px;
    color: #000000;
    margin-left: 37px;
  }
  .Hero__paragraph{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #656565;
    margin-top: 15px;
    width: 400px;
    margin-left: 37px;
  }
  .Hero__hero-row {
    margin-left: 0px;
    margin-top: 85px;
    background-size: 105%;
    background-position-x: -15vw !important;
    background-position-y: 100vw;
  }
  #Hero__shift-left {
    margin-left: -50px;
    padding-right: 50px;
  }
  .Hero__item1 {
    grid-row-start: 5;
    grid-row-end: 15;
    grid-column-start: 1;
    grid-column-end: 9;
    background-color: #dde8fd;
  }
  .Hero__item2, .Hero__item3 {
    grid-row-start: 1;
    grid-row-end: 10;
  }
  .Hero__item2 {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .Hero__item3 {
    grid-column-start: 4;
    grid-column-end: 9;
  }
  .Hero__pre-title {
    font-size: 18px;
    color: #2145b7;
    margin-left: 35px;
  }
  .Hero__hero-title {
    margin-top: 8px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0px;
    margin-left: 35px;
    width: 500px;
    line-height: normal;
  }
  .Hero__highlight-cyan {
    border-bottom: 10px solid #83f3d1;
    margin-top: -15px;
    width: 36vw;
  }
  .Hero__hero-content {
    margin-top: 16px;
    font-size: 15px;
    font-weight: 450;
    margin-left: 35px;
    width: 300px;
  }
  .Hero__highlight-bottom {
    margin-top: -25px;
  }
  .Hero__cta {
    margin-top:10px;
    font-size: 15px;
    color: #2145b7;
    margin-left: 35px;
  }
  .Hero__cta-icon {
    margin-left: 10px;
    font-weight: 500;
  }
  .Hero__count {
    margin-top: 175px;
    margin-bottom:-44px
  }
  .Hero__card1 {
    width: 80px;
    height: 85px;
    border: none;
    border-radius: 5px;
    text-align: center;
    padding: 18px 12px 9px 12px;
    background-color: #00c78c;
    color: white;
    margin-left: 35px;
  }
  .Hero__item1 {
    grid-column-end: 15;
  }
  .Hero__item2 {
    width: 80px;
    height: 85px;
    border: none;
    border-radius: 10px;
    text-align: center;
    padding: 18px 12px 9px 12px;
    background-color: #00c78c;
    color: white;
  }
  .Hero__card2 {
    width: 80px;
    height: 85px;
    border: 1px solid #2145b7;
    border-radius: 5px;
    text-align: center;
    margin-left: 40px !important;
    padding: 18px 12px 9px 12px;
  }
  .Hero__item3 {
    width: 80px;
    height: 85px;
    border: 1px solid #2145b7;
    border-radius: 10px;
    text-align: center;
    margin-left: -10px !important;
    padding: 18px 12px 9px 12px;
  }
  .Hero__card-title {
    font-size: 16px;
    font-weight: 600;
  }
  .Hero__card-content {
    font-size: 11px;
    line-height: 1rem;
  }
  .Hero__header__placement{
    margin-left:-25px;
    margin-top:-50px;
  }
}

/*For medium and large devices*/
@media(min-width: 800px) and (max-width: 1200px){
  .Hero__hero-row {
    margin-left: 40px;
    margin-top: 146px;
  }
   .Hero__hero-img{
     position: absolute;
     top:180px;
     right: 0px;
     z-index: 0;
     width: 63%;
   }
   .Hero__pre-title{
     font-size: 20px;
     color: #2145b7;
     line-height: 27px;
     font-weight: normal;
     font-family: 'Poppins', sans-serif;
   }
   .Hero__hero-title{
     margin-top: 8px;
     font-size: 26px;
     font-weight: 600;
     letter-spacing: -1px;
     color: #000000;
     font-family: 'Poppins', sans-serif;
   }
   .Hero__hero-content{
     margin-top: 20px;
     font-size: 18px;
     font-weight: 400;
     width: 341px;
     color: #656565;
     font-family: 'Poppins', sans-serif;
   }
   .Hero__cta{
     margin-top: 10px;
     font-size: 18px;
     font-weight: 500;
     font-family: 'Poppins', sans-serif;
     color: #2145b7;
   }
   .Hero__count{
     margin-top: 37px;
   }
   .Hero__heading{
     margin-left: 60px;
   }
   .Hero__paragraph{
     margin-left: 60px;
   }
   .Hero__header__placement{
    margin-left:13px;
  }
}