.modal-dialog {
  margin: auto !important;
  max-width: 800px !important;
}
.modal-content {
  width: 800px;
}
.News_images {
  /* width: 50%; */
  overflow-x: scroll;
  white-space: nowrap;
}

.Branch_modalImage {
  width: 274px;
  border-radius: 10px;
  margin-right: 15px;
  height: 300px;
  background: #c4c4c4;
}

.Branch_modelClass {
  backdrop-filter: blur(74px);
}

.Branch_modalTitle {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
}
.Branch_modalDate {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: #060606;
}
.Branch_modalDescription {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: justify;
  color: #000000;
}
.Branch_modalDetails {
  margin-bottom: 20px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #060606;
}
@media only screen and (min-width: 481px) and (max-width: 800px) {
  .modal-dialog {
    margin: auto !important;
    max-width: 500px !important;
  }
  .modal-content {
    width: 500px;
  }
}

/* Big tablets */
@media (min-width: 800px) and (max-width: 1200px) {
  .modal-dialog {
    margin: auto !important;
    max-width: 800px !important;
  }
  .modal-content {
    width: 800px;
  }
}
/* mobile */
@media screen and (max-width: 480px) {
  .modal-dialog {
    margin: auto !important;
    max-width: 300px !important;
  }
  .modal-content {
    width: 300px;
  }
  .Branch_modalImage {
    width: 190px;
    margin-right: 15px;
    border-radius: 10px;

    height: 250px;
    background: #c4c4c4;
  }

  .Branch_modelClass {
    backdrop-filter: blur(74px);
  }
  .Branch_modalAuthor {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #060606;
  }
  .Branch_modalTitle {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
  }
  .Branch_modalDate {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: #060606;
  }
  .Branch_modalDescription {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: justify;
    color: #000000;
  }
  .Branch_modalDetails {
    margin-bottom: 20px;

    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #060606;
  }
}
