/* For Extra large devices (large laptops and desktops) */
.Leader__main {
  margin-left: 100px;
  margin-right: 100px;
}
.Leader__svg{
  width: 20px;
  height: 20px;
  color: #000000;
}
.Leader__middlediv {
  margin-left: 100px;
  margin-right: 100px;
}
/* first row */
.Leader__heading {
  /* margin-top: 80px; */
  font-weight: 900;
  font-size: 35px;
  margin-bottom: 21px;
}
.Leader__paragraph {
  font-size: 15px;
  /* font-weight: normal; */
}
#Leader__justify {
  text-align: justify;
  font-weight:300;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  line-height: 22px;
  color: #000000;
}
#Leader__rightjustify{
  text-align: justify;
  font-weight:300;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  line-height: 22px;
  color: #000000;
}
/* second row */
.Leader__image1 {
  height: 390px;
  width: 300px;
  border-radius: 1rem;
  margin-top: 55px;
}
.Leader__first {
  float: right;
  position: absolute;
  left: 350px;
  bottom: 0;
  top: 321px;
  font-size: 18px;
  text-align: left;
}
.Leader__second {
  color: #2145b7;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  line-height: 15px;
  margin-bottom: 16px;
}
.Leader__rightsecond{
  color: #2145b7;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  line-height: 15px;
  margin-bottom: 16px;
  width: 100%;
  text-align:end;
  float: right;
}
.Leader__details{
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
  width: 153px;
  height: 66px;
  color: #000000;
}
.Leader__phone{
  margin-top: 12px;
  margin-left: 0px;
}
.Leader__rightdetails{
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
  width: 153px;
  height: 66px;
  color: #000000;
  text-align: right;
  float: right;
}
.Leader__rightphone{
  margin-top: 12px;
}
.Leader__subheading {
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  line-height: 22px;
  font-size: 24px;
  margin-top: 55px;
  text-align: justify;
}
.Leader__rightsubheading{
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  line-height: 22px;
  font-size: 24px;
  margin-top: 55px;
  text-align: justify;
}
.Leader__link {
  font-weight: bold;
  font-size: 18px;
  color: #2145b7;
}
.Leader__rightlink{
  font-weight: bold;
  font-size: 18px;
  color: #2145b7;
}
/* Third row */
.Leader__mainrow {
  /* margin-top: 144px; */
  margin-bottom: 72px;
}
.Leader__image2 {
  height: 396px;
  width: 316px;
  border-radius: 1rem;
  float: right;
  margin-top: 55px;
}
.Leader__fourth {
  float: left;
  position: absolute;
  padding-top:320px;
  right: 370px;
  font-size: 18px;
}
/*For small devices*/
@media screen and (max-width: 576px){
  .Leader__svg{
    width: 15px;
    height: 15px;
    color: #000000;
  }
  .Leader__main {
  margin-left: 24px;
  margin-right:24px;
}
.Leader__middlediv {
  margin-left: 0;
  margin-right:0;
  padding-bottom: 10px;
  background-color: #DDE8FD;
}
  .Leader__image1{
    border-radius: 1rem;
    width: 167px;
    height: 230px;
    margin-top: 55px;
    margin-left: 0px;
  }
  .Leader__heading {
    /* margin-top: 80px; */
    font-weight: 900;
    font-size: 35px;
    margin-bottom: 21px;
  }
  .Leader__paragraph {
    font-size: 15px;
    /* font-weight: normal; */
  }
  #Leader__justify {
    text-align: justify;
    font-weight:500;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    line-height: 22px;
    color: #000000;
  }
  #Leader__rightjustify{
    text-align: justify;
    font-weight:500;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    line-height: 22px;
    color: #000000;
    margin-left: 24px;
    margin-right: 24px;
  }
  .Leader__first {
    float: right;
    position: absolute;
    left: 200px;
    bottom: 0;
    top: 140px;
    font-size: 18px;
    text-align: left;
  }
  .Leader__second {
    color: #2145b7;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 15px;
    margin-bottom: 16px;
    width: 140px;
    text-align:left;
}
  .Leader__rightsecond{
    color: #2145b7;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 15px;
    margin-bottom: 16px;
    width: 140px;
    text-align:end;
    float: right;
  }
  .Leader__details{
    font-size: 13px;
    line-height: 22px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    width: 140px;
    height: 62px;
    color: #000000;
  }
  .Leader__phone{
    margin-top: 12px;
    margin-left: 0px;
  }
  .Leader__rightdetails{
    font-size: 13px;
    line-height: 22px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    width: 153px;
    height: 66px;
    color: #000000;
    float: right;
  }
  .Leader__rightphone{
    margin-top: 12px;
  }
  .Leader__subheading {
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    line-height: 22px;
    font-size: 19px;
    margin-top: 55px;
    text-align: justify;
  }
  .Leader__rightsubheading{
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    line-height: 22px;
    font-size: 19px;
    margin-top: 55px;
    text-align: justify;
    margin-right: 24px;
    margin-left: 24px;
  }
  
  .Leader__link {
    font-weight: bold;
    font-size: 13px;
    color: #2145b7;
  }
  .Leader__rightlink{
    font-weight: bold;
    font-size: 13px;
    color: #2145b7;
    margin-left: 24px;
    margin-right: 24px;
  }
  /* Third row */
  .Leader__mainrow {
    /* margin-top: 144px; */
    margin-bottom: 72px;
  }
  .Leader__image2 {
    height: 230px;
    width: 167px;
    border-radius: 1rem;
    float: right;
    margin-top: 55px;
    margin-right: 15px;
  }
  .Leader__fourth {
    float: left;
    position: absolute;
    padding-top: 140px;
    right: 220px;
  }
}


/*For small and medium devices*/
@media (min-width: 576px) and (max-width: 800px) {
  .Leader__main {
    margin-left: 10px;
    margin-right:10px;
  }
  .Leader__middlediv {
    margin-left: 0;
    margin-right:0;
    padding-bottom: 10px;
    background-color: #DDE8FD;
  }
  #Leader__leader-css {
    margin-left: -25px;
  }
  .Leader__image1 {
    height: 250px;
    width: 190px;
    margin-top: 50px;
    margin-left: 35px;
  }
  #Leader__justify {
    text-align: justify;
    font-weight:500;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    line-height: 20px;
    color: #000000;
    margin-left: 35px;
    margin-right: 35px;
  }
  #Leader__rightjustify{
    text-align: justify;
    font-weight:500;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    line-height: 22px;
    color: #000000;
    margin-left: 35px;
    margin-right: 35px;
  }
  .Leader__subheading {
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    line-height: 22px;
    font-size: 18px;
    margin-top: 30px;
    text-align: justify;
    margin-left: 35px;
  }
  .Leader__rightsubheading{
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    line-height: 22px;
    font-size: 18px;
    margin-top: 30px;
    text-align: justify;
     margin-right: 24px;
    margin-left: 35px;
  }
  .Leader__second {
    color: #2145b7;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 15px;
    margin-bottom: 10px;
    width: 280px;
    text-align:left;
}
  .Leader__image2 {
    height: 250px;
    width: 190px;
    margin-right: 35px;
  }
  .Leader__paragraph {
    font-size: 17px;
  }
  .Leader__first {
    float: right;
    position: absolute;
    left: 270px;
    bottom: 0;
    top: 185px;
    font-size: 18px;
    text-align: left;
  }
  .Leader__fourth{
    float:left;
    position: absolute;
    padding-top: 175px;
    right:280px;
    font-size: 18px;
  }
  .Leader__rightsecond{
    font-size: 18px;
  }
  .Leader__details{
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    width: 130px;
    height: 66px;
    color: #000000;
  }
  .Leader__rightdetails{
    font-size: 15px;
    width: 140px;
  }
  .Leader__link {
    font-size: 15px;
    margin-left: 35px;
  }
  .Leader__rightlink{
    font-weight: bold;
    font-size: 15px;
    color: #2145b7;
    margin-left: 35px;
  }
  
  
}
/*For medium and large devices*/
@media(min-width: 800px) and (max-width: 1200px){
  .Leader__image1{
    height: 350px;
    width: 270px;
    border-radius: 1rem;
    margin-top:55px;
  }
  .Leader__image2{
    height: 350px;
    width: 270px;
    border-radius: 1rem;
    float: right;
    margin-top: 55px;
  }
  .Leader__main {
    margin-left: 60px;
    margin-right: 60px;
  }
  
  .Leader__middlediv {
    margin-left: 60px;
    margin-right: 60px;
  }
  .Leader__first{
    float: right;
    position: absolute;
    left: 320px;
    bottom: 0;
    top: 264px;
    font-size: 18px;
    text-align: left;
  }
  .Leader__fourth {
    float: left;
    position: absolute;
    padding-top:250px;
    right: 320px;
    font-size: 18px;
  }
  
  .Leader__second{
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .Leader__rightsecond{
    font-size: 15px;
    width: 213px;
    float: right;
    text-align: right;
    line-height: 20px;
  }
  .Leader__details{
    font-size: 15px;
    width: 139px;
  }
  .Leader__rightdetails{
    font-size: 15px;
    width: 136px;
    float: right;
    text-align: right;
  }
  .Leader__subheading{
    font-size: 22px;
  }
  .Leader__rightsubheading{
    font-size: 22px;
  }
  #Leader__justify{
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 0px;
  }
  #Leader__rightjustify{
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 0px;
  }
  .Leader__link{
    font-size: 14px;
  }
  .Leader__rightlink{
    font-size: 14px;
  }
}
