.AllNews__cards:hover {
  cursor: pointer;
}
.AllNews__mobileView {
  display: none;
}
@media (min-width: 1200px) {
  .AllNews__mobileView {
    display: none;
  }
  .AllNews__cards {
    margin-top: 66px;
    box-shadow: 1px 2px 34px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
  }
  .AllNews__image {
    width: 186px;
    height: 186px;
    background: #c4c4c4;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .AllNews_container {
    margin-left: 85px;
    margin-right: 85px;
  }
  .AllNews__descp {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8; /* number of lines to show */
    -webkit-box-orient: vertical;
    line-height: 150%;
    color: #555555;
  }
  .AllNews__stateText {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #59179a;
  }
  .AllNews__branchText {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #7d9afb;
  }
  .AllNews__dateText {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #888888;
  }
  .AllNews__title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 52px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
    color: #000000;
  }
}
/*tablet*/
@media only screen and (min-width: 481px) and (max-width: 800px) {
  .AllNews__mobileView {
    display: none;
  }
  .AllNews__cards {
    margin-top: 66px;
    box-shadow: 1px 2px 34px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
  }
  .AllNews__image {
    width: 140px;
    height: 140px;
    background: #c4c4c4;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 18px;
    margin-bottom: 18px;
  }
  .AllNews__imageCol {
    padding: 0 !important;
  }
  .AllNews_container {
    margin-left: 15px;
    margin-right: 15px;
  }

  .AllNews__stateText {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #59179a;
  }
  .AllNews__branchText {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #7d9afb;
  }
  .AllNews__dateText {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #888888;
  }
  .AllNews__descp {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8; /* number of lines to show */
    -webkit-box-orient: vertical;
    color: #555555;
  }
  .AllNews__title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 35px;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}
/*bigtablet*/
@media (min-width: 800px) and (max-width: 1200px) {
  .AllNews__mobileView {
    display: none;
  }

  .AllNews__cards {
    margin-top: 66px;
    box-shadow: 1px 2px 34px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
  }
  .AllNews__image {
    width: 140px;
    height: 140px;
    background: #c4c4c4;
    border-radius: 10px;
    /* margin-left: 20px; */
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .AllNews_container {
    margin-left: 50px;
    margin-right: 50px;
  }

  .AllNews__stateText {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #59179a;
  }
  .AllNews__branchText {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #7d9afb;
  }
  .AllNews__dateText {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #888888;
  }
  .AllNews__descp {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #555555;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  .AllNews__title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 40px;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
  }

  .AllNews__text {
    padding: 0 !important;
  }
}
/*mobile*/
@media screen and (max-width: 480px) {
  .AllNews__cards {
    margin-top: 66px;
    box-shadow: 1px 2px 34px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
  }
  .AllNews__image {
    width: 95px;
    height: 95px;
    background: #c4c4c4;
    border-radius: 10px;
    /* margin-left: 20px; */
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .AllNews_container {
    margin-left: 18px;
    margin-right: 18px;
  }

  .AllNews__stateText {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #59179a;
  }
  .AllNews__branchText {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #7d9afb;
  }
  .AllNews__dateText {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #888888;
  }
  .AllNews__descp {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #555555;
  }
  .AllNews__title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
    line-height: 22px;
    color: #000000;
  }

  .AllNews__selectState {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    background-color: white;
    margin-right: 33px;
  }
  .AllNews__selectAll {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    background-color: white;
  }
  .AllNews__selection {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #000000;
  }
  .AllNews__text {
    padding: 0 !important;
  }

  .AllNews__desktopView {
    display: none;
  }
  .AllNews__mobileView {
    display: block;
  }
  .AllNews__mobileView_row {
    padding-left: 10px;
    padding-right: 10px;
  }
}
