.Two_hover:hover {
  cursor: pointer;
}
@media (min-width: 1200px) {
  .Two__colImage {
    width: 30rem;
    height: 25rem;
    border-radius: 10px;
  }
  .Two_removePM {
    padding-left: 0;
    margin-left: 0;
  }
  .Two_title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    color: #000000;
  }

  .Two_date {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #888888;
  }
  .Two_description {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #555555;
    /* line-height: 1.5;
    height: 13em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
    /* width: 100%; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  .Two__margins {
    margin-top: 50px;
  }
}

/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 800px) {
  .Two__colImage {
    border-radius: 10px;
  }
  .Two_removePM {
    padding-left: 0;
    margin-left: 0;
  }
  .Two_title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    color: #000000;
  }

  .Two_date {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #888888;
  }
  .Two_description {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #555555;
    /* line-height: 1.5;
    height: 13em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
    /* width: 100%; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  .Two__margins {
    margin-top: 50px;
  }
}
/* Big tablets */
@media (min-width: 800px) and (max-width: 1200px) {
  .Two_title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    color: #000000;
  }
  .Two__colImage {
    border-radius: 10px;
  }
  .Two_removePM {
    padding-left: 0;
    margin-left: 0;
  }
  .Two_date {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #888888;
  }
  .Two_description {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #555555;
    /* line-height: 1.5;
    height: 13em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
    /* width: 100%; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  .Two__margins {
    margin-top: 50px;
  }
}
/* mobile */
@media screen and (max-width: 480px) {
  .Two__colImage {
    width: 335px;
    height: 218.35px;
  }
  .Two_title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 0 !important;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
  }

  .Two_date {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #888888;
    margin-bottom: 0 !important;
  }
  .Two_description {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #555555;
    /* line-height: 1.5;
    height: 13em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
    /* width: 100%; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  .Two__margins {
    margin-top: 50px;
  }
}
