.Header_navbar_ultimate1{
  margin-top:100px;
}
.Header_containerTop{
  margin-top:0 !important;
}
.Header_base{
    height: 100px !important;
    border-bottom: #a3a5a8 solid 1px !important;
    /* background-color: transparent !important;   */
    z-index: 1;
    padding: 8px 0 !important;
    width:100% !important;
    color: #000 !important;
}
.navbar-light .navbar-nav .nav-link{
  color:black !important;
}
.Header_mobile{
  height: auto;
  background-color: #fff;
}
.Header_history{
    height: 100px !important;
    border-bottom: black solid 1px;
    background-color: transparent !important;
    z-index: 1;
    color:white !important;
}
.navbar-dark .navbar-nav .nav-link{
  color:#fff !important;
}
.Header_text{
    /* color: black !important; */
    font-size:20px;
    margin-right: 10px;
}
.Header_text:hover{
  color:#626263 !important;
}
.Header_nav_item{
  margin-bottom:0px !important;
}
.Nima_icon{
    border-radius:50%;
    margin-left:20px;
}
.Header_title{
    margin-left:15px;
    color:#000;
}

/* .Header_text_home, .Header_text_desk, .Header_text_news, .Header_text_gallery, .Header_text_downloads, .Header_text_nima, .Header_text_membership, .Header_text_contact{
    color: black !important;
    font-size:20px;
    padding:0px !important;
    margin-right:30px;
} */
.Header_links{
    padding-right:0px !important;
}
.Header_icon{
    margin-left: 5px;
}
.Header_items{
    margin-bottom:0 !important;
}

@media(min-width: 800px) and (max-width: 1200px){
  .Header_text{
    font-size:12px; 
    margin-right:0;
  }
  .Header_title{
    font-size:15px;
  }
}

@media (min-width: 576px) and (max-width: 800px){
  .Header_text{
    font-size:10px; 
    margin-right:0;
  }
  .Header_title{
    font-size:13px;
  }
}
