.heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 62px;
  color: #000000;
  text-align: left;
  padding-top: 155px;
}
.line {
  width: 1151px;
  height: 0px;
  border: 1px solid #000000;
}

.text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  color: #000000;
  font-weight: 600;
  margin-bottom: 100px;
}
.link {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  float: left !important;
  color: #2541b2;
  margin-left: 0px !important;
  margin-top: 20px;
}
.Image {
  width: 33px;
  height: 33px;

  background: #2541b2;
  margin-left: 17px;
  border-radius: 15px;
  padding: 7px;
}
@media (max-width: 500px) {
  .desktop {
    display: none;
  }
  .heading {
    font-size: 40px !important;
    padding-top: 88px;
    padding-bottom: 10px;
  }
  .mobile {
    padding-left: 20px;
    padding-right: 20px;
  }
  .text {
    padding-bottom: 23px;
    text-align: center !important;
    font-size: 12px;
    margin-bottom: 0px !important;
    font-weight: 600;
  }
  .picture {
    padding-bottom: 30px;
  }
  a.link {
    /* padding-left: 10px; */
    font-size: 13px;
    margin-top: 0px !important;
  }
}
@media (min-width: 600px) {
  .mobile {
    display: none;
  }
  .picture {
    width: 792px;
    height: 611px;
  }
  .text {
    font-size: 16px;
  }
  .heading {
    font-size: 40px;
  }
  .row {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
}

@media (min-width: 1200px) {
  .mobile {
    display: none;
  }
  .row {
    margin-left: 92px !important;
    margin-right: 86px !important;
  }
}
