.Lifemembership_heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 62px;
  color: #000000;
  text-align: left;
  padding-top: 155px;
}
.Lifemembership_line {
  width: 1151px;
  height: 0px;
  border: 1px solid #000000;
}

.Lifemembership_text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-align: left;
  color: #000000;
  font-weight: 600;
  margin-bottom: 100px;
}
.Lifemembership_link {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  float: left !important;
  color: #2541b2;
  margin-left: 0px !important;
  margin-top: 20px;
}
.Lifemembership_Image {
  width: 33px;
  height: 33px;
  background: #2541b2;
  margin-left: 17px;
  border-radius: 20px;
  padding: 7px;
}
@media (max-width: 500px) {
  .Lifemembership_desktop {
    display: none;
  }
  .Lifemembership_heading {
    font-size: 40px !important;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .Lifemembership_mobile {
    padding-left: 20px;
    padding-right: 20px;
  }
  .Lifemembership_text {
    padding-bottom: 23px;
    text-align: left !important;
    font-size: 12px;
    margin-bottom: 0px !important;
    font-weight: 600;
  }
  .Lifemembership_picture {
    padding-bottom: 30px;
  }
  a.Lifemembership_link {
    /* padding-left: 10px; */
    font-size: 13px;
    margin-top: 0px !important;
  }
}
@media (min-width: 600px) {
  .Lifemembership_mobile {
    display: none;
  }
  .Lifemembership_picture {
    width: 792px;
    height: 540px;
  }
  .Lifemembership_text {
    font-size: 16px;
  }
  .Lifemembership_heading {
    font-size: 40px;
  }
  .Lifemembership_row {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
}

@media (min-width: 1200px) {
  .Lifemembership_mobile {
    display: none;
  }
  .Lifemembership_first {
    margin-left: 92px !important;
    margin-right: 86px !important;
    margin-top:-100px !important;
  }
}
